canvas#hidden {
    display: none;
}

canvas {
    display: block;
}

.clear {
    clear: both;
}

.content {
    max-width: 960px;
    min-height: 830px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.2);
}

.content h4 {
    font: 15px bold Arial, sans-serif;
    color: #747474;
    margin-bottom: 10px;
}

.main {
    width: 68.75%;
    padding: 1.04%;
    float: left;
}

.webcam {
    width: 100%;
    position: relative;
}

video {
    width: 100%;
    height: auto;
}

img[src=""] {
    visibility: hidden;
}

#filter, #loaded_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

button {
    display: inline-block;
    height: 28px;
    font: 15px/15px bold Arial, sans-serif;
    vertical-align: middle;
}

label[for="file"] {
    height: 28px;
    font: 15px/22px bold Arial, sans-serif;
    padding: 2px 6px 3px;
    vertical-align: middle;
}

label[for="file"] > span {
    display: block;
}

button:enabled, label[for="file"] {
    border: 1px solid #747474;
    background-color: #faffbd;
    color: #747474;
    cursor: pointer;
}

button:hover, label[for="file"]:hover {
    border: 1px solid white;
    background-color: #c58db5;
    color: white;
}

button:disabled {
    border: 1px solid #6e6e6e;
    background-color: #b3b883;
    color: #6e6e6e;
}

button:focus {
    outline: none;
}

#file {
    display: none;
}

.images {
    width: 100%;
    padding: 10px 0;
}

.images form > div {
    float: left;
    margin-right: 1.33%;
    width: 24%;
}

.images form > div:last-child {
    margin-right: 0;
}

.images img, .sidebar img {
    width: 240px;
    max-width: 100%;
    border: 1px solid #747474;
    cursor: pointer;
}

.images input {
    display: none;
}

.images input:checked + label > img, div.selected > img {
    border: 2px solid #866a8e;
    box-shadow: 0 0 8px #523e59;
}

.sidebar {
    width: 29.25%;
    float: right;
    padding: 5px;
    margin: 1%;
}

.sidebar form {
    max-height: 735px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2px;
}

.sidebar div {
    position: relative;
    width: 100%;
    max-width: 240px;
    margin-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar div:before {
    content: "";
    float: left;
    padding-bottom: 75%;
}

.sidebar div:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar div:last-child {
    margin-bottom: 1px;
}

.sidebar div > img {
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar p {
    font: 15px/30px bold Arial, sans-serif;
    color: #523e59;
    text-align: center;
}