.menu {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul > li {
    width: 16%;
    height: 60px;
}

ul > li:nth-child(4) {
    width: 52%;
}

ul > li > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font: 1.25em Arial, sans-serif;
    padding: 1em 0;
    box-sizing: border-box;
    text-align: center;
}

.menu > li > a {
    color: white;
    border: 1px solid transparent;
    border-left: 1px solid #e0e0e0;
}

.menu > li > a:hover {
    background-color: rgba(130, 130, 130, 0.2);
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.menu > li:nth-child(3) > a {
    border-right: 1px solid #e0e0e0;
}

.menu > li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.menu > li:last-child {
    border-right: 1px solid #e0e0e0;
}