@import url('/camagru/webroot/css/menu.css');
@import url('/camagru/webroot/css/main.css');

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

body, html, div, h3, h4, h5, p, menu, header {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;

}

body > div {
    background: linear-gradient(rgb(179, 107, 189), rgba(255, 255, 0, 0.4)) no-repeat;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
}

menu {
    background: rgb(197, 141, 186);
    height: auto;
}

menu > div {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: block;
    padding: 0 2%;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    background: rgb(254, 252, 174);
    color: #61565e;
}

.form {
    padding: 5px 0;
    color: white;
    display: block;
    text-shadow: 1px 1px 1px #707070;
}

label {
    display: inline-block;
    box-sizing: border-box;
}

input[type="submit"] {
    border: 1px solid #747474;
    background-color: #faffbd;
    height: 28px;
    font: 15px/15px bold Arial, sans-serif;
    color: #747474;
    outline: none;
}

input[type="submit"]:hover {
    border: 1px solid white;
    background-color: #c58db5;
    cursor: pointer;
    color: white;
}

/*log-in form*/

.log-in {
    width: 100%;
    height: 60px;
    font: 12px/22px Arial, sans-serif;
}

.log-in form {
    width: 60%;
    float: left;
}

.log-in input {
    height: 22px;
    padding: 2px;
    margin: 1px 0;
    max-width: 100px;
    width: 50%;
    vertical-align: middle;
}

.log-in input[type="submit"] {
    max-width: 70px;
    width: 22%;
}

.log-in input[value="Logout"] {
    margin: 15px 0 18px;
}

.log-in label {
    width: 65px;
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
}

.log-in span {
    display: block;
    margin: 10px 0;
    padding: 0 2%;
    width: 40%;
    float: right;
    font: 13px/15px Arial, sans-serif;
    color: #523e59;
}

.log-in span > b {
    font-weight: normal;
}

.log-in p {
    display: inline-block;
    max-width: 160px;
    width: 60%;
    padding: 15px 0;
    font: bold 15px/22px Arial, sans-serif;
    text-align: center;
}

/*registration form*/

.reg {
    width: 380px;
    min-height: 120px;
    height: 222px;
    margin: 10px auto;
    font: 21px/30px Arial, sans-serif;
}

.reg input, .reg label {
    display: inline-block;
    height: 30px;
    box-sizing: border-box;
    padding: 2px 5px 5px 5px;
    margin: 5px 0;
}

.reg input {
    width: 190px;
}

.reg label {
    width: 190px;
    text-align: right;
    vertical-align: middle;
}

.reg p {
    display: block;
    font: 16px/20px Arial, sans-serif;
    color: #523e59;
}

.reg input[type="submit"], .reg p {
    margin-left: 190px;
}

/*send mail*/

.mail {
    width: 320px;
}

.mail label {
    width: 110px;
}

.mail input[type="submit"], .mail p {
    margin-left: 110px;
}

/*confirmation message*/

.confirm {
    width: 320px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.confirm p {
    color: white;
    text-shadow: 1px 1px 1px #707070;
    font: 18px/30px Arial, sans-serif;
    margin: 10px;
}

/*photo gallery*/

.photos {
    min-height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: content-box;
}

.photos > div {
    float: left;
    display: inline-block;
    max-width: 240px;
    width: 23%;
    height: auto;
    background-color: rgba(255, 250, 217, 0.4);
    margin: 0 1% 2%;
    text-align: center;
    font: 16px/30px Arial, sans-serif;
}

.photos > div:hover img {
    border: 1px solid #866a8e;
}

.photos > div:hover a {
    cursor: pointer;
}

.photos > div img {
    width: 100%;
    height: auto;
    border: 1px solid #fffad9;
    display: block;
    box-sizing: border-box;
}

.photos > div > span, .one-photo > div > span {
    color: #4b2365;
    display: block;
    float: left;
    padding: 10px;
    font-weight: bold;
}

.photos > div > span:nth-child(3), .one-photo > div > span:nth-child(3)
{
    float: right;
    font: 100 italic 13px/30px Arial, sans-serif;
}

.photos form, .one-photo form {
    display: inline-block;
}

.photos span button, .one-photo span button {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background-size: cover;
    background-color: transparent;
    border: none;
}

button[name="delete"] {
    background-image: url('/camagru/webroot/images/filters/trash_pink.png');
}

button[name="like"] {
    position: relative;
    background-image: url('/camagru/webroot/images/filters/like_pink.png');
}

button[name="delete"]:hover {
    background-image: url('/camagru/webroot/images/filters/trash_yellow.png');
}

button[name="like"]:hover {
    background-image: url('/camagru/webroot/images/filters/like_yellow.png');
}

.photos i, .one-photo i {
    vertical-align: middle;
}

.photos button > b, .one-photo button > b {
    display: block;
    position: absolute;
    top: 7px;
    right: -3px;
    color: #090912;
    line-height: 20px;
}

/*one-photo view*/

.one-photo {
    max-width: 600px;
    width: 62.5%;
    margin: 0 auto;
    padding: 50px 0 ;
}

.one-photo > div {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 250, 217, 0.4);
    font: 16px/30px Arial, sans-serif;
}

.one-photo > div img {
    width: 100%;
    border: 1px solid #fffad9;
    display: block;
    box-sizing: border-box;
}

.comments {
    clear: both;
    padding: 0 10px;
    color: #523e59;
}

.comments > div {
    overflow-y: auto;
}

.comments > .add-comment {
    padding: 5px 0 10px;
    border-top: 1px dotted #61565e;
}

.comments > div.div {
    border-bottom: 1px dotted #61565e;
    padding: 5px 0;
}

.comments > div.div:last-child {
    border-bottom: none;
}

.comments span {
    display: inline-block;
}

.comment-author {
    min-width: 60px;
    padding-left: 10px;
    font-style: normal;
    font: bold 16px Arial, sans-serif;
}

.comment-time {
    font: 13px Arial, sans-serif;
}

.comments p {
    padding: 5px 5px 5px 30px;
    font: 14px Arial, sans-serif;
}

.add-comment form {
    width: 100%;
    padding: 0 10px;
}

.add-comment h5 {
    font: bold 14px/20px Arial, sans-serif;
    margin-bottom: 5px;
}

.add-comment textarea {
    width: 100%;
    min-height: 20px;
    outline: none;
}

/* pages */

.pages {
    padding: 5px 0 10px;
    margin: 0 auto;
    min-width: 10px;
    clear: both;
    text-align: center;
}

.pages a, .pages span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    font: 15px/20px Arial, sans-serif;
}

.pages span {
    background-color: #6e6e6e;
    color: #979271;
}

.pages a {
    background-color: #523e59;
    color: #c58db5;
    text-decoration: none;
}

.pages a:hover {
    color: #faffbd;
}

@media screen and (max-width: 825px) {
    .photos, .menu, .content {
        max-width: 540px;
    }

    .photos > div {
        width: 45%;
        margin: 0 2.5% 2.5%;
    }

    ul > li {
        width: 13%;
        height: 48px;
    }

    ul > li:nth-child(4) {
        width: 61%;
    }

    ul > li > a {
        font-size: 0.9em;
    }

    .log-in {
        height: 48px;
    }

    .log-in form {
        line-height: 16px;
        width: 80%;
    }

    .log-in label, .log-in input {
        height: 16px;
        font-size: 12px;
        line-height: 12px;
    }

    .log-in p {
        padding: 5px 0;
        font: bold 15px/22px Arial, sans-serif;
        text-align: center;
    }

    .log-in span {
        width: 14%;
        padding: 0;
        margin: 1% 3%;
    }

    .log-in span > a {
        display: block;
        min-height: 30px;
        height: auto;
        min-width: 30px;
        background: url('/camagru/webroot/images/filters/question.png') 50% 0 no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .log-in span > b {
        display: none;
    }

    .log-in input[value="Logout"] {
        margin: 12px 0 14px;
    }

    .sidebar form {
        max-height: 725px;
    }

    .sidebar p {
        line-height: 18px;
    }

    .photos > div > span, .photos > div > span:nth-child(3) {
        line-height: 20px;
    }

    .one-photo {
        max-width: 540px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    ul.menu > li {
        display: block;
        float: left;
    }

    ul > li {
        max-width: 160px;
        width: 33.33%;
        height: 48px;
    }

    ul > li:nth-child(4) {
        width: 100%;
        max-width: 100%;
        background: #d9b2c5;
        margin-bottom: 10px;
    }

    ul > li > a {
        font-size: 0.9em;
    }

    .menu > li:nth-child(4) {
        border: 1px solid #e0e0e0;
    }

    .log-in {
        height: 48px;
    }

    .log-in form {
        line-height: 16px;
        width: 80%;
    }

    .log-in input {
        width: 35%;
    }

    .photos {
        height: auto;
    }

    .photos > div > span, .photos > div > span:nth-child(3) {
        font-size: 13px;
        line-height: 16px;
        padding: 7px;
    }

    .photos > div > span:nth-child(3) > i {
        display: none;
    }

    label[for="file"], button {
        font-size: 12px;
    }

    menu {
        height: 96px;
    }

    .content {
        margin: 0;
        min-height: 700px;
        max-height: 700px;
    }

    .sidebar form {
        max-height: 112px;
        height: auto;
    }

    .content h4 {
        font-size: 13px;
    }

    .main, .sidebar {
        width: 100%;
    }

    .sidebar {
        margin: 0;
    }

    .sidebar div {
        width: 32%;
        margin-right: 1.33%;
        float: left;
        margin-top: 5px;
    }

    .sidebar div:last-child {
        margin-bottom: 0;
    }

    .log-in input[type="submit"] {
        width: 25%;
    }

    header {
        padding: 0;
    }

    .one-photo {
        padding: 0;
    }

    .comments .div {
        padding: 0;
        line-height: 16px;
    }

    .comment-author {
        font-size: 13px;
    }

    .comment-text {
        padding: 2px 2px 2px 30px;
    }

    .add-comment form {
        padding: 0;
    }

    .add-comment h5 {
        font-size: 13px;
    }

    .add-comment textarea {
        max-width: 60%;
        vertical-align: top;
    }

    .add-comment input[type="submit"] {
        width: 35%;
        font-size: 13px;
        vertical-align: top;
        height: 32px;
    }

    footer {
        padding: 10px;
    }

    .reg, .confirm {
        width: 100%;
        font: 16px/25px Arial, sans-serif;
    }

    .confirm p {
        font: 16px/18px Arial, sans-serif;
    }

    .reg label, .reg input {
        width: 48%;
        margin: 3px 1%;
        height: 25px;
    }

    .reg input[type="submit"] {
        margin-left: 51%;
    }

    .reg p {
        margin: 5px;
        text-align: center;
    }

    #select_photos p {
        font-size: 11px;
    }
}
